  <header class="header">
    <h1>Hunger Games</h1>
    <div class = "icons">
      <div class = "notification">
      <a href = "#">
      <div class = "notBtn" href = "#">
        <div class = "number">2</div>
        <i class="fas fa-shopping-cart"></i>
          <div class = "box">
            <div class = "display">
              <div class = "nothing"> 
                <i class="fas fa-child stick"></i> 
                <div class = "cent">Looks Like your all caught up!</div>
              </div>
              <div class = "cont">
                 <div class = "sec new">
                   <a href = "https://codepen.io/Golez/">
                   <div class = "profCont">
                   <img class = "profile" src = "https://c1.staticflickr.com/5/4007/4626436851_5629a97f30_b.jpg">
                    </div>
                   <div class = "txt">James liked your post: "Pure css notification box"</div>
                  <div class = "txt sub">11/7 - 2:30 pm</div>
                   </a>
                </div>
                 <div class = "sec new">
                   <a href = "https://codepen.io/Golez/">
                   <div class = "profCont">
                   <img class = "profile" src = "https://obamawhitehouse.archives.gov/sites/obamawhitehouse.archives.gov/files/styles/person_medium_photo/public/person-photo/amanda_lucidon22.jpg?itok=JFPi8OFJ">
                    </div>
                   <div class = "txt">Annita liked your post: "Pure css notification box"</div>
                  <div class = "txt sub">11/7 - 2:13 pm</div>
                   </a>
                </div>
                 <div class = "sec">
                   <a href = "https://codepen.io/Golez/">
                   <div class = "profCont">
                   <img class = "profile" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3O45RK9qyCrZJivYsY6PmeVEJH07l7bkoolJmscBsNjzump27">
                    </div>
                   <div class = "txt">Brie liked your post: "Pure css notification box"</div>
                  <div class = "txt sub">11/6 - 9:35 pm</div>
                   </a>
                </div>
                 <div class = "sec">
                   <a href = "https://codepen.io/Golez/">
                   <div class = "profCont">
                   <img class = "profile" src = "https://c1.staticflickr.com/4/3725/10214643804_75c0b6eeab_b.jpg">
                    </div>
                   <div class = "txt">Madison liked your post: "Pure css notification box"</div>
                  <div class = "txt sub">11/6 - 4:04 pm</div>
                   </a>
                </div>
               
                 
                 
             
             </div>
             
            </div>
            <div class="checkout-btn">
              <p>Checkout</p>
            </div>
            
         </div>
         
      </div>
        </a>
    </div>
    </div>
    </header>
    