  <header class="header">
    <h1 (click)="navigateTo()" style="cursor: pointer;">Hunger Games</h1>
    <div class = "icons">
      <i class="fas fa-home" style="cursor: pointer;" (click)="navigateToHome()"></i>
      <div class = "notification">
       
      <a href = "#">
      <div class = "notBtn" href = "#">
        
        <div class = "number">{{orderList.length}}</div>
        <i class="fas fa-shopping-cart"></i>
          <div class = "box">
            <div class = "display">
              <div class = "nothing"> 
                <i class="fas fa-child stick"></i> 
                <div class = "cent">Looks Like your all caught up!</div>
              </div>
              <div class = "cont">
                <div class="sec" *ngFor="let order of orderList; let i = index">
                    <!-- <a href = "https://codepen.io/Golez/"> -->
                    <div class = "profCont">
                    <img class = "profile" [src]= "order.image">
                     </div>
                    <div class = "txt">{{order.name}}</div>
                   <div class = "txt sub">Qty :{{order.qty}}</div>
                   
                 
                </div>
             </div>
             
            </div>
            <div class="checkout-btn">
              <a href="javascript:void(0)" style="color:white" (click)="proceedToCheckOut()">Proceed to checkout items</a>
            </div>
            
         </div>
         
      </div>
        </a>
    </div>
    </div>
    </header>
    